node-red/.flows.json.backup
[{"id":"316aa326.f9fe3c","type":"tab","label":"Main","disabled":false,"info":""},{"id":"c589618e.a66ee8","type":"subflow","name":"Location History","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"290f02eb.7af7e6"}]}],"out":[{"x":1060,"y":200,"wires":[{"id":"60ddc5ec.731e1c","port":0}]},{"x":920,"y":160,"wires":[{"id":"ccb119a.507afe8","port":0}]}],"env":[{"name":"API Key","type":"str","value":"","ui":{"icon":"font-awesome/fa-key","type":"input","opts":{"types":["str"]}}}],"color":"#DDAA99"},{"id":"7503ff39.95d9b","type":"mqtt-broker","z":"","name":"Local","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"116c819e.e8098e","type":"serial-port","z":"","serialport":"/dev/ttyUSB0/","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e0e79e6d.6a8eb8","type":"mqtt in","z":"c589618e.a66ee8","name":"","topic":"data/location","qos":"2","datatype":"auto","broker":"7503ff39.95d9b","x":110,"y":200,"wires":[["5a12ad99.041714","7d71d898.332d7"]]},{"id":"5a12ad99.041714","type":"debug","z":"c589618e.a66ee8","name":"Log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":240,"wires":[]},{"id":"7d71d898.332d7","type":"delay","z":"c589618e.a66ee8","name":"Limit amount","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":290,"y":200,"wires":[["9bccf6dc.cff7f8"]]},{"id":"4f648800.1fc698","type":"http request","z":"c589618e.a66ee8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://www.daveandsuvi.fi/add-location","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":200,"wires":[["60ddc5ec.731e1c"]]},{"id":"9bccf6dc.cff7f8","type":"json","z":"c589618e.a66ee8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":200,"wires":[["50274d8c.23f704","452b293a.e498a8"]]},{"id":"50274d8c.23f704","type":"change","z":"c589618e.a66ee8","name":"Add API Key","rules":[{"t":"set","p":"payload.key","pt":"msg","to":"API Key","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[["4f648800.1fc698"]]},{"id":"9a32784.e94a888","type":"file","z":"c589618e.a66ee8","name":"","filename":"/data/locations.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":810,"y":240,"wires":[[]]},{"id":"e28d89ef.99947","type":"file in","z":"c589618e.a66ee8","name":"Read","filename":"/data/locations.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":450,"y":160,"wires":[["b7e26747.093d18"]]},{"id":"d1684d78.5c3c6","type":"comment","z":"c589618e.a66ee8","name":"Take the location data provided by the sensor and relay to the website every 10 minutes","info":"","x":340,"y":40,"wires":[]},{"id":"d69504a4.8275","type":"comment","z":"c589618e.a66ee8","name":"Also stores all location data to a text file to be used later. (Incase of loss of signal)","info":"","x":320,"y":80,"wires":[]},{"id":"9e543759.c75408","type":"subflow:c589618e.a66ee8","z":"316aa326.f9fe3c","name":"","env":[{"name":"API Key","value":"337f095d-3e1d-46b7-8ad5-75fd07e5edfa","type":"str"}],"x":280,"y":80,"wires":[["e1eccb83.098b38"],["56f8c60a.18a878"]]},{"id":"290f02eb.7af7e6","type":"switch","z":"c589618e.a66ee8","name":"Command","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"delete","vt":"str"},{"t":"eq","v":"read","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":140,"wires":[["17044542.c9266b"],["e28d89ef.99947"]]},{"id":"17044542.c9266b","type":"file","z":"c589618e.a66ee8","name":"Del","filename":"/data/locations.txt","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":450,"y":120,"wires":[[]]},{"id":"8c3518d0.b50eb","type":"inject","z":"316aa326.f9fe3c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"delete","payloadType":"str","x":110,"y":60,"wires":[["9e543759.c75408"]]},{"id":"e1eccb83.098b38","type":"debug","z":"316aa326.f9fe3c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":60,"wires":[]},{"id":"ea3e5032.e5981","type":"inject","z":"316aa326.f9fe3c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"read","payloadType":"str","x":110,"y":100,"wires":[["9e543759.c75408"]]},{"id":"452b293a.e498a8","type":"change","z":"c589618e.a66ee8","name":"Format","rules":[{"t":"set","p":"latitude","pt":"msg","to":"payload.latitude","tot":"msg"},{"t":"set","p":"longitude","pt":"msg","to":"payload.longitude","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"[LAT, LNG]","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"LAT","fromt":"str","to":"latitude","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"LNG","fromt":"str","to":"longitude","tot":"msg"},{"t":"delete","p":"latitude","pt":"msg"},{"t":"delete","p":"longitude","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":240,"wires":[["9a32784.e94a888"]]},{"id":"60ddc5ec.731e1c","type":"json","z":"c589618e.a66ee8","name":"","property":"payload","action":"","pretty":false,"x":950,"y":200,"wires":[[]]},{"id":"b7e26747.093d18","type":"filter","z":"c589618e.a66ee8","name":"Filter blank","property":"payload","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"eq","v":"","vt":"str","output":2},{"t":"else","output":1}],"checkall":"true","outputs":1,"x":610,"y":160,"wires":[["ccb119a.507afe8"]]},{"id":"ccb119a.507afe8","type":"json","z":"c589618e.a66ee8","name":"To JSON","property":"payload","action":"","pretty":false,"x":780,"y":160,"wires":[[]]},{"id":"56f8c60a.18a878","type":"debug","z":"316aa326.f9fe3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"291833f1.a94814","type":"inject","z":"316aa326.f9fe3c","name":"Test light","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"test\",\"name\":\"Test Light\",\"icon\":\"lightbulb\",\"capabilities\":{},\"state\":{}}","payloadType":"str","x":120,"y":180,"wires":[["7e8f3b0d.fae6dc"]]},{"id":"7e8f3b0d.fae6dc","type":"mqtt out","z":"316aa326.f9fe3c","name":"","topic":"device","qos":"","retain":"","broker":"7503ff39.95d9b","x":270,"y":180,"wires":[]},{"id":"86881612.aca078","type":"serial in","z":"316aa326.f9fe3c","name":"","serial":"116c819e.e8098e","x":110,"y":360,"wires":[["d8ef97fb.5ac628"]]},{"id":"d8ef97fb.5ac628","type":"file","z":"316aa326.f9fe3c","name":"","filename":"/data/usb0.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":300,"y":360,"wires":[[]]},{"id":"56ed0fb7.4cb958","type":"inject","z":"316aa326.f9fe3c","name":"Empty File","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":320,"wires":[["1aa5f169.3372df"]]},{"id":"1aa5f169.3372df","type":"file","z":"316aa326.f9fe3c","name":"","filename":"/data/usb0.txt","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":320,"y":320,"wires":[[]]},{"id":"75d09846.c45fb8","type":"comment","z":"316aa326.f9fe3c","name":"Log serial data to a file","info":"","x":140,"y":280,"wires":[]}]